.sky{
    background-color: lightblue;
    height: 80vh;
    width: 100vw;
    position: relative;
  }
  .ground{
    background-color: brown;
    height: 20vh;
    width: 100vw;
    position: relative;
    
  }
  