@import "../../constants/globals.scss";

.sky{
    background-color: $wing-color;
    height: 80vh;
    width: 100vw;
    position: relative;
  }
  .ground{
    background-color:  $text-color;
    height: 20vh;
    width: 100vw;
    position: relative;
    
  }
  