.main_screen_layout{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #6D5A72;
}
.main_screen_instruction_button{
    height: 48px;
    width: 100%;
    max-width: 350px;
    background: #5efc8d;
    border-radius: 8px;
    border-style: solid;
    border-width: thin;
    box-shadow: 5px 5px black;
}
.main_screen_instruction_button_pressed{
   transform: translateY(4px);
   height: 48px;
   width: 100%;
   max-width: 350px;
   background: #5efc8d;
   border-radius: 8px;
   border-style: solid;
   border-width: thin;
   box-shadow: 5px 1px black;
   
   
}
.main_screen_title{
    font-size: xx-large;
    color: #5EFC8D;
}

.main_screen_logo{
color: white;
}

.main_screen_instruction{
    font-size: x-large;
    animation:blinker 1s linear infinite;
    color: #5EFC8D;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }